@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.img-gunung{
    width: 40px;
    height: 40px;
}
#judul:hover{
    color: cadetblue;
}
.icon{
    text-decoration: none;
    color: #000000;
}
.icon:hover{
    color: cadetblue;
}
.sosmed{
    display: flex;
}
i{
    color:#000000a1;
}
i:hover{
    color: #0a58ca;
}
